@charset "UTF-8";
/* General css */
body{padding:0px;margin:0px;text-align:left;font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;font-size:12px;background-color:transparent;}
h1 {font-size:24px;line-height:24px;margin:0px 0px 10px 0px;}
h2 {font-size:20px;line-height:20px;margin:0px 0px 10px 0px;}
h3 {font-size:16px;line-height:16px;margin:0px 0px 10px 0px;}
p {padding:0px;margin:0px;}
a {color:#207298;text-decoration:none;}
a img {border:0;padding:0px;margin:0px;}
a:hover, a:visited:hover{text-decoration:underline;}
img {vertical-align:middle;}

/* Menu */
.annytab-menu-box ul {list-style:none;padding-left:0px;margin:0px;}
.annytab-menu-box ul ul {padding-left:5px;}
.annytab-menu-box li {padding-left:2px;}
.annytab-menu-box li li {padding-left:2px;}

/* Basic styles */
.annytab-basic-container{display:block;margin:0px;padding:8px;background-color:#d9d9d9;border-radius:4px;}
.annytab-basic-inner-container{clear:both;padding:4px;background-color:#ffffff;border:1px solid #d9d9d9;border-radius:4px;}
.annytab-basic-line{display:block;clear:both;border-bottom:1px solid #cccccc;margin:10px 0px 10px 0px;}
.annytab-basic-space{display:block;clear:both;margin-bottom:10px;}
.annytab-basic-text-bold{font-size:12px;font-weight:bold;margin:0px;vertical-align:middle;}
.annytab-basic-text-normal{font-size:12px;margin:0px;vertical-align:middle;}
.annytab-basic-bread-text{font-size:12px;line-height:16px;margin:0px;}
.annytab-basic-button{display:inline;font-size:14px;line-height:14px;background-image:url('/Content/images/annytab_design/blue_button.png');color:#ffffff;font-weight:bold;border-radius:4px;vertical-align:middle;padding:7px 20px 7px 20px;margin:2px 2px 2px 2px;text-decoration:none;cursor:pointer;border:0px;text-shadow:0px -1px 3px #000000;}
.annytab-basic-button:hover{background-image:url('/Content/images/annytab_design/blue_button_hover.png');text-decoration:none;}
.annytab-basic-linkbutton{border:0px;background-color:transparent;color:#207298;text-decoration:none;margin:0px;padding:0px;cursor:pointer;}
.annytab-basic-linkbutton:hover{text-decoration:underline;outline:none;}
.annytab-basic-linkbutton:focus{text-decoration:underline;outline:none;}
.annytab-basic-divider{display:inline-block;width:2px;height:100%;background-color:#003F65;border-right:2px solid #4698BE;}
.annytab-basic-gradient-down{clear:both;width:100%;height:10px;background-image:url('/Content/images/annytab_design/gradient_down_10.jpg');background-repeat:repeat-x;}
.annytab-basic-gradient-up{clear:both;width:100%;height:10px;background-image:url('/Content/images/annytab_design/gradient_up_10.jpg');background-repeat:repeat-x;}

/* Master page */
.annytab-background-image{display:none;position:fixed;z-index:-1;top:0;left:0;min-height:100%;min-width:100%;margin:0px;padding:0px;}
.annytab-search-box{border:1px solid #207298;height:24px;border-radius:4px;padding:1px;}
.annytab-search-textbox{display:inline;vertical-align:top;border:0px;width:200px;outline:none;margin:0px;padding:5px 0px 0px 0px;background-color:transparent;}
.annytab-search-button{margin:1px 0px 0px 1px;border-radius:4px;width:22px;height:22px;background-color:transparent;background-image:url('/Content/images/annytab_design/magnifier.png');border-style:none;background-repeat:no-repeat;cursor:pointer;}
.annytab-menu-box{border:1px solid #207298;border-radius:4px;margin:10px 0px 10px 0px;padding:5px;z-index:2}
.annytab-menu-arrow-left{background-image:url('/Content/images/annytab_design/list_arrow_left.png');background-repeat:no-repeat;padding:0px 0px 0px 14px;}
.annytab-menu-arrow-down{background-image:url('/Content/images/annytab_design/list_arrow_down.png');background-repeat:no-repeat;padding:0px 0px 0px 14px;}

/* Display categories and products */
.annytab-transparent-container{display:block;margin:0px;padding:0px 4px 0px 4px;}
.annytab-price-tag{font-weight:bold;font-size:28px;line-height:30px;color:#a30909;text-shadow:2px 2px 5px #808080;vertical-align:middle;}
.annytab-price-tag-small{font-size:14px;color:#a30909;font-weight:bold;vertical-align:middle;margin:5px 0px 5px 0px;text-shadow:1px 1px 2px #808080;}
.annytab-list-product-left{display:table-cell;width:30%;padding:4px;}
.annytab-list-product-right{display:table-cell;vertical-align:top;width:70%;padding:4px 4px 4px 6px;word-wrap:break-word;}
.annytab-list-product-image{max-width:100%;width:100%;height:auto;}
.annytab-list-product-title{font-size:16px;line-height:20px;font-weight:bold;text-shadow:2px 2px 2px #cccccc;}
.annytab-add-to-cart-text{display:none;position:absolute;text-align:right;background:#59946b;width:calc(100% - 20px);padding:11px 20px 11px 0px;top:0px;left:0px;color:#ffffff;font-size:26px;line-height:26px;font-weight:bolder;overflow:hidden;}

/* Slideshow */
.annytab-slideshow-container{display:none;position:relative;margin:10px 0px 0px 0px;overflow:hidden;padding-bottom:35%;border-radius:4px;}
.annytab-slideshow-image{width:100%;position:absolute;top:0px;left:0px;cursor:pointer;}
.annytab-slideshow-left-arrow{z-index:inherit;position:absolute;left:10px;top:50%;margin-top:-16px;cursor:pointer;width:32px;height:32px;display:none;}
.annytab-slideshow-right-arrow{z-index:inherit;position:absolute;right:10px;top:50%;margin-top:-16px;cursor:pointer;width:32px;height:32px;display:none;}
.annytab-slideshow-pager-container{display:none;margin:0px;padding:10px 0px 0px 0px;overflow-x:auto;overflow-y:hidden;white-space:nowrap;}
.annytab-slideshow-pager-image{display:inline-block;max-height:64px;margin:0px 5px 0px 0px;border:1px solid #d9d9d9;border-radius:2px;cursor:pointer;}
.annytab-slideshow-pager-image:hover{border:1px solid #207298;}

/* Code container (google prettify) */
.annytab-code-container{overflow:auto;border:1px solid #cccccc;border-radius:4px;margin:0px;padding:0px;}

/* Social content */
.annytab-share-container{margin:6px 0px 6px 0px;}
.annytab-share-button{display:inline-block;vertical-align:top;margin:0px;padding:0px;z-index:2;}
.annytab-facebook-button{display:inline;font-size:14px;height:28px;background-image:url('/Content/images/annytab_design/facebook_button.png');color:#ffffff;font-weight:bold;border-radius:4px;vertical-align:middle;padding:0px 10px 0px 7px;margin:2px 2px 2px 2px;text-decoration:none;cursor:pointer;border:0px;background-size:1px 28px;text-shadow:0px -1px 3px #000000;}
.annytab-google-button{display:inline;font-size:14px;height:28px;background-image:url('/Content/images/annytab_design/google_button.png');color:#ffffff;font-weight:bold;border-radius:4px;vertical-align:middle;padding:0px 10px 0px 5px;margin:2px 2px 2px 2px;text-decoration:none;cursor:pointer;border:0px;background-size:1px 28px;text-shadow:0px -1px 3px #000000;}

/* Fullscreen container */
.annytab-fullscreen-container{display:none;z-index:3;position:fixed;width:100%;height:100%;top:0px;left:0px;right:0px;bottom:0px;text-align:center;background-image:url('/Content/images/annytab_design/transparent_background.png');}
.annytab-fullscreen-margin{display:block;margin:20px;}
.annytab-fullscreen-wrapper{display:inline-block;position:relative;background-color:#ffffff;border-radius:4px;top:calc(50vh - 25px);margin:-50% 0px 0px 0px;}
.annytab-fullscreen-padding{display:inline-block;padding:10px;}
.annytab-fullscreen-image{display:inline-block;max-width:100%;max-height:calc(100vh - 60px);padding:0px;margin:0px;}
.annytab-fullscreen-close{position:absolute;width:32px;height:32px;top:-16px;right:-16px;cursor:pointer;}

/* Loading animation */
.annytab-loading-outer-container{display:none;top:0;left:0;z-index:10;position:fixed;width:100%;height:100%;background-image:url('/Content/images/annytab_design/transparent_background.png');}
.annytab-loading-inner-container{position:absolute;top:10px;right:10px;bottom:10px;left:10px;width:200px;height:200px;margin:auto;background-color:#ffffff;border-radius:4px;}

/* Fact table */
.annytab-fact-table{display:table;width:100%;padding:2px 0px 0px 0px;}
.annytab-fact-cell-heading{display:table-cell;font-weight:bold;width:50%;padding:4px;background:#ffffff;border-bottom:1px solid #d9d9d9;}
.annytab-fact-cell-text{display:table-cell;width:50%;padding:4px;border-bottom:1px solid #d9d9d9;}

/* 360 degree image */
.annytab-spin-image-container{padding:10px 0px 10px 0px;}
.annytab-spin-image{width:256px;height:256px;border:1px solid #cccccc;border-radius:4px;cursor:e-resize;}
.annytab-spin-slider{width:236px;min-height:11px;max-height:11px;margin:10px 10px 10px 10px;}

/* Image map */
.annytab-imap-outer-container{display:none;}
.annytab-imap-container{display:block;position:relative;height:400px;border:1px solid #cccccc;border-radius:4px;background-color:#cccccc;overflow:auto;z-index:auto;}
.annytab-imap-background-image{position:absolute;top:0;left:0px;z-index:inherit;}
.annytab-imap-box{display:none;position:absolute;top:0;left:0px;padding:10px;background-color:#ffffff;border-radius:4px;color:#000000;width:150px;box-shadow:0px 0px 10px #000000;text-align:center;z-index:inherit;}
.annytab-imap-box-heading{font-size:12px;line-height:14px;font-weight:bold;z-index:inherit;}
.annytab-imap-point{display:inline;position:absolute;left:10px;top:10px;z-index:inherit;}
.annytab-imap-circle{display:inline-block;background-color:#207298;border-radius:50%;opacity:0.5;border:2px solid #ffffff;width:24px;height:24px;cursor:pointer;z-index:inherit;}
.annytab-imap-close{position:absolute;width:24px;height:24px;top:-12px;right:-12px;cursor:pointer;background-image:url('/Content/images/annytab_design/black_circle_cross.png');background-size:24px 24px;z-index:3;}
.annytab-imap-product-image{max-width:100%;margin:5px 2px 2px 2px;z-index:inherit;}
.annytab-imap-product-button{display:block;font-size:14px;line-height:14px;background-image:url('/Content/images/annytab_design/blue_button.png');color:#ffffff;font-weight:bold;border-radius:4px;vertical-align:middle;padding:7px 0px 7px 0px;margin:10px 0px 0px 0px;text-decoration:none;cursor:pointer;border:0px;text-shadow:0px -1px 3px #000000;z-index:inherit;}
.annytab-imap-product-button:hover{background-image:url('/Content/images/annytab_design/blue_button_hover.png');text-decoration:none;}
.annytab-imap-price-tag{font-size:14px;color:#a30909;font-weight:bold;vertical-align:middle;margin:5px 0px 5px 0px;text-shadow:1px 1px 2px #808080;z-index:inherit;}
.annytab-imap-select-image{display:block;padding:10px 0px 8px 10px;background-color:#cccccc;white-space:nowrap;position:relative;border:1px solid #cccccc;border-radius:4px;overflow-x:auto;overflow-y:hidden;}
.annytab-imap-image-button{display:inline-block;position:relative;background-repeat:no-repeat;margin:0px 5px 0px 0px;padding:0px;border:1px solid #CCCCCC;border-radius:2px;background-size:150px 100px;width:150px;height:100px;cursor:pointer;}
.annytab-imap-image-button:hover{border:1px solid #207298;}

/* Form input */
.annytab-form-errorbox{display:none;background-color:#d39393;color:#000000;padding:4px;margin:0px 0px 10px 0px;border:1px solid #880000;border-radius:4px;}
.annytab-form-label{font-size:11px;font-weight:bold;margin:2px 2px 2px 2px;line-height:18px;vertical-align:middle;}
.annytab-form-textbox{width:200px;height:18px;line-height:18px;font-size:12px;padding:1px;margin:2px 2px 2px 2px;font-family:Arial;border:1px solid #207298;border-radius:4px;background-color:#d9d9d9;vertical-align:top;}
.annytab-form-select{width:204px;height:22px;line-height:22px;padding:1px;margin:2px 2px 2px 2px;font-family:Arial;border:1px solid #207298;cursor:pointer;background-color:#d9d9d9;border-radius:4px;}
.annytab-form-heading{font-size:16px;line-height:20px;font-weight:bold;}
.annytab-form-textarea{width:200px;line-height:18px;font-size:12px;padding:1px;margin:2px 2px 2px 2px;font-family:Arial;border:1px solid #207298;background-color:#d9d9d9;border-radius:4px;}
.annytab-form-radio{height:18px;vertical-align:middle;}
.annytab-form-checkbox{vertical-align:middle;}
.annytab-form-button{display:inline;font-size:12px;height:22px;background-image:url('/Content/images/annytab_design/blue_button.png');color:#ffffff;border-radius:4px;vertical-align:top;padding:0px 20px 0px 20px;margin:2px 2px 2px 2px;text-decoration:none;cursor:pointer;border:0px;background-size:1px 22px;text-shadow:0px -1px 3px #000000;}
.annytab-form-button:hover{background-image:url('/Content/images/annytab_design/blue_button_hover.png');text-decoration:none;}
.annytab-image-radio{width:28px;height:23px;}

/* Shopping cart */
.annytab-step-heading{margin:4px 0px 6px 0px;font-size:18px;font-weight:bold;line-height:24px;border-bottom:1px solid #207298;}
.annytab-step-circle{background-color:#207298;border-radius:4px;text-align:center;color:#ffffff;width:24px;height:24px;margin:0px 6px 2px 0px;display:inline-block;}
.annytab-step-space{display:block;clear:both;margin-bottom:20px;}

/* Paging */
.annytab-inactive-navigate-button{margin:0px 0px 0px 0px;padding:0px 10px 0px 10px;font-size:16px;color:#000000;height:24px;line-height:24px;}
.annytab-navigate-button{margin:0px;padding:0px 10px 0px 10px;color:#ffffff;font-weight:bold;font-size:16px;height:24px;line-height:24px;cursor:pointer;}
.annytab-navigate-button:hover{color:#808080;text-decoration:none;}
.annytab-page-information{margin:0px;padding:0px 10px 0px 10px;color:#000000;height:24px;line-height:24px;}

/* List of posts */
.annytab-list-container{display:block;padding:0px;margin:0px;overflow:auto;}
.annytab-list-table{display:block;}
.annytab-list-row{display:table-row;}
.annytab-list-row-main{display:table-row;background-color:#ffffff;cursor:default;}
.annytab-list-row-alt{display:table-row;background-color:#f0f0f0;cursor:default;}
.annytab-list-column-head{display:table-cell;height:22px;background-color:#d9d9d9;color:#3d3d3d;border-bottom:1px solid #9e9e9e;font-size:12px;padding:2px 5px 2px 5px;text-shadow:1px 1px 2px #ffffff;vertical-align:middle;}
.annytab-list-column{display:table-cell;font-size:12px;padding:2px 5px 2px 5px;word-break:break-all;vertical-align:middle;border-bottom:1px solid #9e9e9e;}

/* Cookie Consent */
.annytab-cookie-consent{display:none;width:100%;position:fixed;top:0px;left:0px;right:0px;z-index:10;color:#000000;background-color:#d9d9d9;border-bottom:1px solid #9e9e9e;padding:0px;margin:0px;text-align:center;}
.annytab-cookie-consent-text{font-size:12px;line-height:22px;}